.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer__column-link:hover{
  opacity: .5;
}